.MessageModal {
	max-width: 350px;
	box-shadow: 0 0 2px #ccc;
	padding: 1rem;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background: #fff;
}

.MessageModal_error {
	color: red;
	margin-bottom: 1rem;
}